* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Anton", sans-serif;
}

@import "./nav";
@import "./homepage";
@import "./project";
@import "./about";
@import "./footer";
